<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="gazebo_plugins">

    <!-- IMU -->
    <gazebo>
      <plugin name="imu_plugin"
              filename="libgz-sim-imu-system.so">
        <topic>/imu/data</topic>
        <frame_id>imu_link</frame_id>
      </plugin>
    </gazebo>

    <!-- LIDAR -->
    <gazebo>
      <plugin name="lidar_plugin"
              filename="libgz-sim-lidar-system.so">
        <topic>/scan</topic>
        <frame_id>lidar_link</frame_id>
      </plugin>
    </gazebo>

    <!-- Depth Camera -->
    <gazebo>
      <plugin name="camera_plugin"
              filename="libgz-sim-depth-camera-system.so">
        <camera_name>front_camera</camera_name>
        <frame_id>camera_link</frame_id>
      </plugin>
    </gazebo>

  </xacro:macro>

</robot>
