<?xml version="1.0"?>
<robot name="igvc_bot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ================= INCLUDES ================= -->
  <xacro:include filename="$(find igvc_description)/urdf/base.xacro"/>
  <xacro:include filename="$(find igvc_description)/urdf/wheels.xacro"/>
  <xacro:include filename="$(find igvc_description)/urdf/sensors.xacro"/>
  <xacro:include filename="$(find igvc_description)/urdf/gazebo_plugins.xacro"/>

  <!-- ================= BUILD ROBOT ================= -->
  <xacro:base/>
  <xacro:wheels/>
  <xacro:sensors/>
  <xacro:gazebo_plugins/>

<!-- ================= GAZEBO DIFF DRIVE ================= -->
<gazebo>
  <plugin
    filename="libgz-sim-diff-drive-system.so"
    name="gz::sim::systems::DiffDrive">

    <topic>/cmd_vel</topic>
    <odom_topic>/odom</odom_topic>

    <odom_frame>odom</odom_frame>
    <base_frame>base_link</base_frame>

    <!-- 🔥 ADD THESE -->
    <publish_tf>true</publish_tf>
    <publish_wheel_tf>true</publish_wheel_tf>
    <publish_joint_state>true</publish_joint_state>

    <left_joint>wheel_fl_joint</left_joint>
    <left_joint>wheel_rl_joint</left_joint>

    <right_joint>wheel_fr_joint</right_joint>
    <right_joint>wheel_rr_joint</right_joint>

    <wheel_separation>0.36</wheel_separation>
    <wheel_radius>0.05</wheel_radius>
    <update_rate>100</update_rate>

  </plugin>
</gazebo>

</robot>
