<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="gazebo_plugins">

    <!-- IMU System -->
    <gazebo>
      <plugin
        filename="libgz-sim-imu-system.so"
        name="gz::sim::systems::Imu"/>
    </gazebo>

    <!-- Sensors System (handles lidar + camera) -->
    <gazebo>
      <plugin
        filename="libgz-sim-sensors-system.so"
        name="gz::sim::systems::Sensors"/>
    </gazebo>

  </xacro:macro>

</robot>
